<%- include('partials/header') %>

<div>
    <h1 class="display-3 text-center" >Welcome to TechWeek Event </h1>
<hr>
    <h2 class="text-center">Date: 2nd to 9th April , 2024</h2>
    <h2 class="text-center">Time: 5pm to 8 pm</h2>
    <h2 class="text-center">Venue: MIT Campus,Manipal </h2>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    
    <h2 class="text-center" >Description: TechWeek is a thrilling event dedicated to coding, electronics, web development, and innovation.
       This week-long celebration showcases the latest advancements in technology through workshops, seminars, and interactive sessions. 
       From learning the basics of coding to diving into complex electronics projects, TechWeek is the perfect opportunity to enhance your skills and knowledge in the tech industry.
       Tech Week has something for everyone.
      
      Don't miss your chance to be a part of this exciting event and immerse yourself in the world of coding, electronics development, and innovation. Join us for a week of creativity, learning, and fun at TechWeek!</h2>
</div>

  <%- include('partials/footer') %>